@model CDNSTORES.Models.CDNSTORES.Order

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<hr class="thanh-ngang" />
<div class="banner-bootom-w3-agileits">
    <div class="row sm-gutter details-container">
        <!-- tittle heading -->
        <h3 class="tittle-w3l">
            <span class="heading-style">
                <i></i>
                <i></i>
                <i></i>
            </span>
        </h3>
        <!-- //tittle heading -->
        <div class="col-md-5 single-right-left ">
            <img src="~/Content/images/order.jpg" alt="" style="width:100%; margin:10px;" />

        </div>
        <div class="col-md-7 single-right-left ">
            <div class="dang-ky" style=" border: 1px solid; margin-bottom: 20px; border-radius: 5px; text-align: center;">
                <h4 style="font-weight:bolder">CHỈNH SỬA ĐƠN HÀNG</h4>
                <hr />
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div class="form-horizontal">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">
                            @Html.LabelFor(model => model.CustomerId, "Tên khách hàng: ", htmlAttributes: new { @class = "control-label col-md-4" })
                            <div class="col-md-8">
                                @Html.DropDownList("CustomerId", null, htmlAttributes: new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.CustomerId, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.ProductId, "Mã sản phẩm: ", htmlAttributes: new { @class = "control-label col-md-4" })
                            <div class="col-md-8">
                                @Html.DropDownList("ProductId", null, htmlAttributes: new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.ProductId, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.SizeId, "Size: ", htmlAttributes: new { @class = "control-label col-md-4" })
                            <div class="col-md-8">
                                @Html.DropDownList("SizeId", null, htmlAttributes: new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.SizeId, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Number, "Số lượng: ", htmlAttributes: new { @class = "control-label col-md-4" })
                            <div class="col-md-8">
                                @Html.EditorFor(model => model.Number, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Number, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.OrderInfoId, "Địa chỉ: ", htmlAttributes: new { @class = "control-label col-md-4" })
                            <div class="col-md-8">
                                @Html.DropDownList("OrderInfoId", null, htmlAttributes: new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.OrderInfoId, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-12">
                                <input type="submit" value="Xác nhận" class="btn btn-default" onClick="return confirmSubmit()" />
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-12" style="font-weight:bolder;font-size:18px;">
                                @Html.ActionLink("Xem giỏ hàng", "Index", "Orders")
                            </div>
                        </div>
                    </div>
                }

            </div>
            

        </div>
        <hr style="border: 1px dashed black;" />
        <img src="~/Content/images/bg_comingsoon.jpg" alt="" class="bia-dangky" style="width: 100%; border-radius: 5px; " />
    </div>
    <hr />


    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }

    <script LANGUAGE="JavaScript">
    function confirmSubmit() {
        var agree = confirm("Vui lòng kiểm tra đúng MÃ SẢN PHẨM - SỐ LƯỢNG - ĐỊA CHỈ trước khi xác nhận!");
        if (agree)
            return true;
        else
            return false;
    }
    </script>
