@model CDNSTORES.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
}
<hr class="thanh-ngang" />
<div class="banner-bootom-w3-agileits">
    <div class="row sm-gutter details-container">
        <!-- tittle heading -->
        <h3 class="tittle-w3l">
            <span class="heading-style">
                <i></i>
                <i></i>
                <i></i>
            </span>
        </h3>
        <!-- //tittle heading -->
        <div class="col-md-12 single-right-left bia-dangky">
            <div class="dang-ky" style=" border: 1px solid; margin-bottom: 20px; border-radius: 5px; text-align: center;">
                @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    <h3 style="font-weight:bolder">ĐĂNG KÝ</h3>
                    <hr />
                    @Html.ValidationSummary("", new { @class = "text-danger" })
                    <div class="form-group">
                        @Html.LabelFor(m => m.Name, "Tên đầy đủ: ", new { @class = "col-md-5 control-label" })
                        <div class="col-md-7">
                            @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Birthday, "Sinh nhật:", new { @class = "col-md-5 control-label" })
                        <div class="col-md-7">
                            @Html.TextBoxFor(m => m.Birthday, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Email, "Email: ", new { @class = "col-md-5 control-label" })
                        <div class="col-md-7">
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Password, "Mật khẩu: ", new { @class = "col-md-5 control-label" })
                        <div class="col-md-7">
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.ConfirmPassword, "Xác nhận mật khẩu: ", new { @class = "col-md-5 control-label" })
                        <div class="col-md-7">
                            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <input type="submit" class="btn btn-default" value="Đăng ký" />
                        </div>
                    </div>
                    <br />
                    <h5>Bằng việc đăng kí, bạn đã đồng ý với CND STORE về</h5>
                    <h5><a style="color:black;font-weight:bolder">Điều khoản dịch vụ</a> & <a style="color:black;font-weight:bolder">Chính sách bảo mật</a></h5>
                    <br />
                    <h5>Bạn đã có tài khoản ? @Html.ActionLink("Đăng nhập", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</h5>
                }

            </div>
        <img src="~/Content/images/bg_comingsoon.jpg" alt="" class="bia-dangky" style="width: 100%; border-radius: 5px; "/>
        </div>
        


    </div>
</div>
<hr />




@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
