@model CDNSTORES.Models.ChangePasswordViewModel
@{
    ViewBag.Title = "Change Password";
}

<hr class="thanh-ngang" />
<div class="banner-bootom-w3-agileits">
    <div class="row sm-gutter details-container">
        <!-- tittle heading -->
        <h3 class="tittle-w3l">
            <span class="heading-style">
                <i></i>
                <i></i>
                <i></i>
            </span>
        </h3>
        <!-- //tittle heading -->
        <div class="col-md-12 single-right-left bia-dangky">
            <div class="dang-ky" style=" border: 1px solid; margin-bottom: 20px; border-radius: 5px; text-align: center;">
                <section id="loginForm">
                    @using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        <h3 style="font-weight:bolder">ĐỔI MẬT KHẨU</h3>
                        <hr />
                        @Html.ValidationSummary("", new { @class = "text-danger" })
                        <div class="form-group">
                            @Html.LabelFor(m => m.OldPassword,"Mật khẩu cũ: ", new { @class = "col-md-5 control-label" })
                            <div class="col-md-7">
                                @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.NewPassword, "Mật khẩu mới: ",new { @class = "col-md-5 control-label" })
                            <div class="col-md-7">
                                @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.ConfirmPassword, "Xác nhận mật khẩu mới: ",new { @class = "col-md-5 control-label" })
                            <div class="col-md-7">
                                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12">
                                <input type="submit" value="Xác nhận" class="btn btn-default" onClick="return confirmSubmit()"/>
                            </div>
                        </div>
                    }
                </section>
            </div>
            <img src="~/Content/images/bg_comingsoon.jpg" alt="" class="bia-dangky" style="width: 100%; border-radius: 5px; " />
        </div>



    </div>
</div>
<hr />

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
<script LANGUAGE="JavaScript">
    function confirmSubmit() {
        var agree = confirm("Mật khẩu sẽ được thay đổi. Vui lòng đăng nhập lại sau khi thay đổi!");
        if (agree)
            return true;
        else
            return false;
    }
</script>